<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj adres</title>
</head>
<body>
    <form method="post" action="">
        <div><label>Miasto:<input type="text" name="city"></label></div>
        <div><label>Ulica:<input type="text" name="street"></label></div>
        <div><label>Nr domu:<input type="number" min="1" name="house_number"></label></div>
        <div><label>Nr mieszkania:<input type="number" min="1" name="apartment_number"></label></div>
        <label><input type="reset" value="Reset"></label>
        <label><input type="submit" value="Dodaj adres"></label>
        {% csrf_token %}
    </form>
</body>
</html>
